body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b2dfdb;


}

body::-webkit-scrollbar{
    width: auto;
}
body::-webkit-scrollbar-thumb {
    background-color: #004d40;
}

body::-webkit-scrollbar-track {
    background-color: #b2dfdb;
}





main{
    min-height: 90vh;
    margin: 2em 5em;
}


.form_buscador{
    margin: 4em 0;
    display: flex;
    justify-content: space-between;
    gap: 0;

    & input[type="search"]{
        border: 0;
        font-size: 1.2em;
        padding: 0 1em;
        border-bottom-left-radius: 1em;
        border-top-left-radius: 1em;
        width: 90%;
    }

    input[type="search"]:focus{
        outline: 0;
    }

    input[type="submit"]{
        width: 20%;
        border-bottom-right-radius: 1em;
        border-top-right-radius: 1em;
    }
}


.btn-new-pokemon,
.btn{
    background-color: #ff6f00;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 1em;
    font-size: 1em;
    transition: all .2s;
}

.btn-new-pokemon{
    width: 100%;
    padding: .8em;
    margin: 3em 0 3em 0;
    border-radius: 3px;

    position: sticky;
    bottom: 10px;
    & a{
        width: 100%;
        color: #fff;
        text-decoration: none;
    }
}

.btn-new-pokemon:hover,
.btn:hover{
    background-color: #ff8f00;
    cursor: pointer;
}


.container_ancla{
    display: flex;
    justify-content: center;

    & .ancla{
        width: 3em;
        margin: 3em 0;
        justify-self: center;
        transition: all .3s;

        & img{
            width: 2.5em;
            border-radius: 5em;
            border: solid 3px #00796BFF;
        }
    }
}

.container_ancla .ancla:hover{
    animation: flotar 2s infinite;
}


@keyframes flotar {
    0%{
        transform: translateY(10px);
    }
    25%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    75%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}



/*---------------------PopUp--------------------------------*/

.fondo-popup{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;

    & .pop-up{
        width: 20em;
        padding: 2em;
        border-radius: .5em;
        position: fixed;
        z-index: 20;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        & img{
            width: 5em;
        }

        >div{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }

        .btn_aceptar,
        .btn_cancelar{
            text-decoration: none;
            color: #fff;
            padding: .5em;
            font-size: 1.2em;
            border-radius: 7px;
        }

        .btn_aceptar{
            transition: all .2s;
            background-color: #00a500;
            text-decoration: none;
            color: #fff;
        }

        .btn_aceptar:hover{
            background-color: #2bba2b;
        }

        .btn_cancelar{
            transition: all .2s;
            background-color: #ff0000;
        }

        .btn_cancelar:hover{
            background-color: #ff5757;
        }
    }
}







/*----------------------------------------------------------*/









/*-----------------     CONTENEDOR DE LOS POKEMONES-------------------------------------------------------------------------------*/

.contenedor_pokemones{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    place-items: center;
    gap: 2.5em 1em;

    margin: 3em 0;
}

.pokemon{
    background: linear-gradient(to top, #004D40FF, #004D40FF, #62afa6, #62afa6, #62afa6);
    border-radius: 20px;
    max-width: 270px;
    padding: 1.5em 1em;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    animation: show 0.5s forwards;

    & .cont_1{
        width: 100%;

        & img{
            width: 260px;
            height: 256px;
            padding-bottom: 1em;
        }
    }

    .cont_2{
        display: flex;
        flex-direction: column;
        gap: 1em;

        & .descripcion{
            text-decoration: none;
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            font-size: 1.2em;
            color: #fff;
            font-weight: bolder;

            display: flex;
            justify-content: space-around;
            align-items: center;

            & img{
                width: 2em;
                height: 2em;
                border-radius: 5px;
            }

            p{
                margin: 0;
            }
        }

        .cont_botones{
            display: flex;
            justify-content: space-evenly;
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

            & .btn_editar,
            .btn_eliminar{
                color: #fff;
                border-radius: 5px;
                padding: 5px;
                text-decoration: none;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 7em;
                height: 2em;
            }

            .btn_editar{
                transition: all .2s;
                background-color: #00a500;
            }

            .btn_editar:hover{
                background-color: #2bba2b;
            }

            .btn_eliminar{
                transition: all .2s;
                background-color: #ff0000;
            }

            .btn_eliminar:hover{
                background-color: #ff5757;
            }
        }
    }
}

.pokemon:hover{
    box-shadow: 0 0 15px #000;
    transform: translateX(50px);
}


@keyframes show {
    0% {
        opacity: 0;
        transform: scaleY(0.5);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}
/*----------FIN CONTENEDOR POKEMONES --------------------------------------------------------------------------*/








@media screen and (max-width: 700px){
    main{
        margin: 2em 1em;
    }

    header{
        padding: .7em 1em;
    }

    .form_buscador {
        & input[type="search"] {
            width: 70%;
        }

        input[type="submit"] {
            width: 30%;
        }
    }

    .container_ancla{
        & .ancla{
            margin: 0;
        }
    }
}