body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b2dfdb;
}

main{
    min-height: 90vh;
    margin: 2em 5em;
}


.form_buscador{
    margin: 4em 0;
    display: flex;
    justify-content: space-between;
    gap: 0;

    & input[type="text"]{
        border: 0;
        font-size: 1.2em;
        padding: 0 1em;
        border-bottom-left-radius: 1em;
        border-top-left-radius: 1em;
        width: 90%;
    }

    input[type="text"]:focus{
        outline: 0;
    }

    input[type="submit"]{
        width: 20%;
        border-bottom-right-radius: 1em;
        border-top-right-radius: 1em;
    }
}


.btn-new-pokemon,
.btn{
    background-color: #ff6f00;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 1em;
    font-size: 1em;
}

.btn-new-pokemon{
    width: 100%;
    padding: .8em;
    margin: 3em 0 3em 0;
    border-radius: 3px;

    position: sticky;
    bottom: 10px;
    & a{
        width: 100%;
        color: #fff;
        text-decoration: none;
    }
}

.btn-new-pokemon:hover,
.btn:hover{
    background-color: #ff8f00;
    cursor: pointer;
}


/*-----------------     CONTENEDOR DE LOS POKEMONES-------------------------------------------------------------------------------*/

.contenedor_pokemones{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    place-items: center;
    gap: 2.5em 1em;

    margin: 3em 0;
}

.pokemon{
    background-color: #62afa6;
    border-radius: 20px;
    max-width: 270px;
    padding: 1em;
    transition: all .2s ease;
    animation: show 0.5s forwards;

    & .cont_1{
        width: 100%;

        & img{
            width: 100%;
            padding-bottom: 1em;
        }
    }

    .cont_2{
        display: flex;
        flex-direction: column;
        gap: 1em;

        & .descripcion{
            text-decoration: none;
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            font-size: 1.2em;
            color: #000;

            display: flex;
            justify-content: space-around;
            align-items: center;

            & img{
                width: 2em;
                height: 2em;
                border-radius: 5px;
            }
        }

        .cont_botones{
            display: flex;
            justify-content: space-evenly;
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

            & .btn_editar,
            .btn_eliminar{
                color: #fff;
                border-radius: 5px;
                padding: 5px;
                text-decoration: none;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 7em;
                height: 2em;
            }

            .btn_editar{
                background-color: #16168c;
            }

            .btn_editar:hover{
                background-color: #3838af;
            }

            .btn_eliminar{
                background-color: #ff0000;
            }

            .btn_eliminar:hover{
                background-color: #ff5757;
            }
        }
    }
}

.pokemon:hover {
    box-shadow: 0 0 15px #000;
    transform: scale(1.03);
}


@keyframes show {
    0% {
        opacity: 0;
        transform: scaleY(0.5);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}
/*----------FIN CONTENEDOR POKEMONES --------------------------------------------------------------------------*/








@media screen and (max-width: 700px){
    main{
        margin: 2em 1em;
    }

    header{
        padding: .7em 1em;
    }

    .form_buscador {
        & input[type="text"] {
            width: 70%;
        }

        input[type="submit"] {
            width: 30%;
        }
    }
}